[//]: # " Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved. "
[//]: # "  "
[//]: # " This program and the accompanying materials are made available under the "
[//]: # " terms of the Eclipse Public License v. 2.0, which is available at "
[//]: # " http://www.eclipse.org/legal/epl-2.0. "
[//]: # "  "
[//]: # " This Source Code may also be made available under the following Secondary "
[//]: # " Licenses when the conditions for such availability set forth in the "
[//]: # " Eclipse Public License v. 2.0 are satisfied: GNU General Public License, "
[//]: # " version 2 with the GNU Classpath Exception, which is available at "
[//]: # " https://www.gnu.org/software/classpath/license.html. "
[//]: # "  "
[//]: # " SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0 "

<h3>About</h3>

Developing RESTful Web services that seamlessly support exposing your data in a
variety of representation media types and abstract away the low-level details
of the client-server communication is not an easy task without a good toolkit.
In order to simplify development of RESTful Web services and their clients in Java,
a standard and portable [JAX-RS API][jax-rs] has been designed.
Jersey RESTful Web Services framework is open source, production quality,
framework for developing RESTful Web Services in Java that provides support for
JAX-RS APIs and serves as a JAX-RS (JSR 311 & JSR 339) Reference Implementation.

Jersey framework is more than the JAX-RS Reference Implementation. Jersey provides
it's own [API][jersey-api] that extend the JAX-RS toolkit with additional features
and utilities to further simplify RESTful service and client development. Jersey
also exposes numerous extension SPIs so that developers may extend Jersey to best
suit their needs.

Goals of Jersey project can be summarized in the following points:

*   Track the JAX-RS API and provide regular releases of production quality
    Reference Implementations that ships with GlassFish;
*   Provide APIs to extend Jersey & Build a community of users and developers;
    and finally
*   Make it easy to build RESTful Web services utilising Java and the
    Java Virtual Machine.

The latest stable release of Jersey is [${latestVersion}][dwnld].

---

<h3>Latest Articles</h3>

<a class="article" href="http://blog.supol.info/?p=130" target="_blank">Jersey 2.28 Has Been Released</a>
<br/>
Jan 28, 2019 | Jan Supol

<a class="article" href="http://blog.supol.info/?p=131" target="_blank">Glassfish 5.1.0.RC2 is to be released!</a>
<br/>
Jan 26, 2019 | Jan Supol

<a class="article" href="http://blog.supol.info/?p=126" target="_blank">Jersey 2.28-RC4 has been released</a>
<br/>
Jan 22, 2019 | Jan Supol

<a class="article" href="http://blog.supol.info/?p=108" target="_blank">Glassfish 5.1.0 is to be released!</a>
<br/>
Jan 20, 2019 | Jan Supol

<a class="article" href="http://blog.supol.info/?p=104" target="_blank">Happy New Year: But Where Are the Christmas Presents?</a>
<br/>
Dec 26, 2018 | Jan Supol

<a class="article" href="http://blog.supol.info/?p=28" target="_blank">Jersey 2.27 Has Been Released</a>
<br/>
Apr 13, 2018 | Jan Supol

<a class="article" href="http://blog.supol.info/?p=13" target="_blank">What’s going on with Jersey</a>
<br/>
Apr 03, 2018 | Jan Supol

[Older Articles &hellip;][older-articles]

---

<h2><a class="headerlink" href="https://jersey.github.io/documentation/latest/getting-started.html">
    <var class="icon-compass"></var> Get Started
</a></h2>

[Learn][quick] how to use Jersey in your projects.


<h2><a class="headerlink" href="https://jersey.github.io/documentation/latest/index.html">
    <var class="icon-book"></var> Documentation
</a></h2>

Read  [latest Jersey User Guide][docindex] or browse [latest Jersey API][jersey-api].

Jersey 1.x users may access the [Jersey 1.19.1 User Guide][docindex-1.x] and [Jersey 1.19.1 API][jersey-1.x-api].


<h2><a class="headerlink" href="download.html">
    <var class="icon-cloud-download"></var> Download
</a></h2>

Jersey is distributed mainly via Maven and it offers some extra modules.
Check the [How to Download][dwnld] page or see our list of [dependencies][deps] for details.


<h2><a class="headerlink" href="related.html">
    <var class="icon-tags"></var> Related Projects
</a></h2>

List of projects related to Jersey.


<h2><a class="headerlink" href="contribute.html">
    <var class="icon-group"></var> Contribute
</a></h2>

[Learn][contpage] how you can contribute to the project by:
<ul class="icons-ul">
    <li><var class="icon-li icon-bug"></var> Reporting issues</li>
    <li><var class="icon-li icon-code-fork"></var> Submitting patches</li>
    <li><var class="icon-li icon-eye-open"></var> Reviewing code</li>
</ul>


<h2><a class="headerlink" href="bloggers.html">
    <var class="icon-rss"></var> Developer Blogs
</a></h2>

Find out what our developers [blog][bloggers] about.

[jax-rs]: http://jax-rs-spec.java.net/
[jersey-api]: https://jersey.github.io/apidocs/latest/jersey/index.html
[jersey-1.x-api]: https://jersey.github.io/apidocs/1.19.1/jersey/index.html
[contpage]: contribute.html
[quick]: https://jersey.github.io/documentation/latest/getting-started.html
[dwnld]: download.html
[deps]: https://jersey.github.io/documentation/latest/modules-and-dependencies.html
[docindex]: https://jersey.github.io/documentation/latest/index.html
[docindex-1.x]: https://jersey.github.io/documentation/1.19.1/index.html
[bloggers]: bloggers.html
[older-articles]: older-articles.html
